<h1>Kaksh Patel Kind Panda  ITIS3135</h1>
<nav>
    <a href="index.html">Home</a> ||
    <a href="introduction.html">Introduction</a> ||
    <a href="contract.html">Contract</a> ||
    <a href="website_evaluations.html">Good vs Bad Websites</a> ||
    <a href="stuff/MY BAD WEBSITE 2025 @.HTML">CLICK heRe tO Go 2 yM terRIbLe wEbSIte</a> ||
    <a href="hobby/index.html">Hobby</a> ||
    <a href="byo_intro.html">BYO Intro Page</a> ||
    <a href="tables.html">Tables</a> ||
    <a href="CodeMentorJS/index.html">Client Website</a> ||
    <a href="slideshow.html">Slideshow</a>
</nav>

<style>
    * {
        text-align: center;
    }
</style>